

.marketing-heading {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  animation: fadeIn 5s;
}

.marketing-fade0 {
  animation: fadeIn 2.5s;
}

.marketing-fade1 {
  animation: fadeOut 2.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  100% { opacity: 0; }
  0% { opacity: 1; }
}